.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: black;
  color: white;
}

.container {
  display: grid;
  height: 100vh;
  width: 100%;
}

.card {
  background-color: hsl(0, 0%, 12%);
  height: 300px;
  width: 200px;
  border-radius: 10px;
  place-self: center;
  align-content: center;
}

.image {
  border-radius: 80px;
  height: 50px;
  width: 50px;
}

.card-body {
  text-align: center;
}
